<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Администратор</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/uiKit.css" th:href="@{/css/uiKit.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <nav>
        <a href="services">Услуги</a>
        <a href="workers">Работники</a>
        <a href="type">Типы пунктов взаимодейтвия</a>
        <a href="points">Пункты взаимодействия</a>
        <a href="positions">Должности</a>
    </nav>
</header>
<main>

</main>
<footer>

</footer>

</body>
</html>